.navbarContatiner {
    margin: 0;
    background-color: var(--background);
    text-align: center;

    top: 0;
    
    display: flex;
    align-items: center;
    
    flex-direction: row;
    flex-wrap: wrap;
    
    flex: 1 1;
    
    gap: 5px;
    
    box-shadow: 0 3px 3px black;
    
    padding: 5px;
    padding-right: 10px;

    position: relative;

    z-index: 500;
}

a.navbarContatiner {
    flex: 0 0;
    padding: 5px;

    padding-right: 10px;
    padding-left: 10px;

    top: 0;

    z-index: 501;

    display:grid;

    flex-direction: unset;
    flex-wrap: unset;

    box-shadow: 1px 3px 3px black;
}

h1 {
    margin: 0;
    display: flex;
    align-items: stretch;
    
    flex-direction: row;
    flex-wrap: wrap;

    top: 0;
    position: sticky;
}