h1 {
    margin: 0;
    background-color: var(--background);
    text-align: center;

    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;

    width: auto;
    height: auto;

    gap: 5px;

    box-shadow: 0 3px 3px black;

    padding: 5px;
    padding-right: 10px;
}

h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.5rem;
}

.numberedList {
    list-style: decimal;
}

#mainContent {
    margin: 1cm;
}